@import "@fontsource/inter/index.css";
@import "@fontsource/jetbrains-mono/index.css";
@import "material-symbols/outlined.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Panes */
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #414752; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #8b919d; }
